/*=======Variables=======*/

//font colors
$headline-primary: #58e1c1;
$headline-secondary: #777;

//background colors
$theme1: #927bc1;
$theme2: #fd7856;
$theme3: #deb2ee;
/*Media Query vars */
$min-width: 768px;